body{
	background-color: #D3D3D3;
}
.box1{
	margin: 0 auto;
	margin-top: 30px;
	background-color: white;
	width: 700px;
	height: 900px;
	border: 1px solid black;
}
.table{
	width: 700px;
	height: 900px;
	border: 11px solid white;
}	
.table td{
    text-align: center;
    border: 10px solid black;
}
.yellow{
	background-color: yellow;
}
.red{
	background-color: red;
}
.black{
	background-color: black;
}
.blue{
	background-color: blue;
}
.top{
	border-top: 0px;
}
